<h1>Editing Account</h1>

 <%= form_with(model: @account, local: true) do |form| %>

  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <br>
    <%= form.text_field :first_name %>
  </div>
  <p></p>

  <div class="field">
    <%= form.label :last_name %>
    <br>
    <%= form.text_field :last_name %>
  </div>
  <p></p>

  <div class="field">
    <%= form.label :gender %>
    <br>
    <%= form.select :gender, ['male', 'female', 'N/A'] %>
  </div>
  <p></p>

   <div class="field">
    <%= form.label :age %>
    <br>
    <%= form.text_field :age %>
  </div>
  <p></p>

  <div class="actions">
    <%= form.submit %>
  </div>
  <p></p>
<% end %>

<%= link_to 'Back', @account %>
