<h1>Account Info</h1>

<div class="large_text">
	Name:
    <%= @account.first_name %>
	<%= @account.last_name %>
</div>

<div class="large_text">
	Gender:
    <%= @account.gender %>
</div>

<div class="large_text">
	Age:
    <%= @account.age %>
</div>


<%= link_to 'Edit Account', edit_account_path(@account) %> |
<%= link_to 'Back', root_path %>
