<!-- <h1>companyName - <%= @companyName %></h1>
<h1>symbol - <%= @symbol %></h1>
<h1>change - <%= @change %></h1> -->
<h1>result - <%= @result %></h1>
<h1>first element - <%= @first %></h1>

<!-- <table>
	<tr>
		<th>Name</th>
		<th>Party</th>
		<th>State</th>
		<th>District</th>
		<th>Phone</th>
		<th>Office</th>
		<th>Contact</th>
	</tr>
</table> -->

<table>
	<tr>
		<th>companyName</th>
		<th>symbol</th>
		<th>change</th>
	</tr>

	<% @result.each do |rep| %>
	<tr class='<%= cycle 'even', 'odd' %>'>
		<td><%= rep[:companyName] %></td>
		<td><%= rep[:symbol] %></td>
		<td><%= rep[:change] %></td>
	</tr>
	<% end %>
</table>