<h1>Stock Quotes for <%= @companies %></h1>

<table>
	<tr>
		<th>Stock Symbol</th>
		<th>Company</th>
		<th>Previous Day Close</th>
		<th>Latest Price</th>
		<th>Change</th>
		<th>52 Week Stock High</th>
		<th>52 Week Stock Low</th>
	</tr>

	<% @result.each do |comp| %>
	<tr class='<%= cycle 'even', 'odd' %>'>
		<td><%= comp['symbol'] %></td>
		<td><%= comp['companyName'] %></td>
		<td><%= comp['previousClose'] %></td>
		<td><%= comp['latestPrice'] %></td>
		<td><%= comp['change'] %></td>
		<td><%= comp['week52High'] %></td>
		<td><%= comp['week52Low'] %></td>
	</tr>
	<% end %>
</table>
<br>
<a href="https://iexcloud.io/">Data provided by IEX Cloud</a>