<h1>State - <%= @state %></h1>

<table>
	<tr>
		<th>Name</th>
		<th>Party</th>
		<th>State</th>
		<th>District</th>
		<th>Phone</th>
		<th>Office</th>
		<th>Contact</th>
	</tr>

	<% @reps.each do |rep| %>
	<tr class='<%= cycle 'even', 'odd' %>'>
		<td><%= rep['name'] %></td>
		<td><%= rep['party'] %></td>
		<td><%= rep['state'] %></td>
		<td><%= rep['district'] %></td>
		<td><%= rep['phone'] %></td>
		<td><%= rep['Office'] %></td>
		<td><%= link_to 'Details', rep['link'], 
			class: 'special_link' %></td>
	</tr>
	<% end %>
</table>