<h1><%= @todo_list.list_name %></h1>

<tbody>
  <%= render partial: "todo_lists/todo_list" %>
</tbody>

<%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>

<tbody>
  <%= render partial: "todo_items/todo_items" %>
</tbody>

<br>
<%= will_paginate @todo_items %>
<br>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Delete Todo List', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back To Todo Lists', todo_lists_path %>