<h1><%= @todo_list.list_name %></h1>

<% all_done = true %>
<% @todo_list.todo_items.each do |todo_item| %>
  <% if not todo_item.done %>
    <% all_done = false %>
  <% end %>
<% end %>

<p>
  <h2>List Due Date:
	  <% if all_done %>
	    <span class="todo_list_completed_link"><%= @todo_list.list_due_date%></span>
	  <% else %>
	    <span class="todo_list_incomplete_link"><%= @todo_list.list_due_date %></span>
	  <% end %>
  </h2>
</p>

<%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>

<% @todo_items.each do |todo_item| %>
  <div class="todo_list">

  	<% if todo_item.done %>
  		<span class="todo_item_completed_link"><%= todo_item.due_date %></span>
  	<% else %>
  		<span class="todo_item_incomplete_link"><%= todo_item.due_date %></span>
    <% end %>

    <%= link_to "#{todo_item.task_title}", [@todo_list, todo_item], class: "todo_list" %> <!-- todo: change here? -->

  </div>
<% end %>

<br>
<%= will_paginate @todo_items %>
<br>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Delete Todo List', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back To Todo Lists', todo_lists_path %>