<div class="todo_list">

    <div id="<%= dom_id(todo_item) %>">

      <div class="flex-container">

        <div class="flex-child 1">

          <% if todo_item.done %>
            <span class="todo_item_completed_link"><%= todo_item.due_date %></span>
          <% else %>
            <span class="todo_item_incomplete_link"><%= todo_item.due_date %></span>
          <% end %>

          <%= link_to "#{todo_item.task_title}", [@todo_list, todo_item], class: "todo_list" %> <!-- todo: change here? -->

          <%= link_to 'Update', edit_todo_list_todo_item_path(:todo_list_id => @todo_list.id, :id => todo_item.id), remote: true, id: 'edit_todo_item_link' %> <!-- id for edit.js.erb to render the edit form-->
      </div>

      <div class="flex-child 2">
        <%= button_to "Mark Done", todo_list_todo_item_path(:todo_list_id => @todo_list.id, :id => todo_item.id),   
        params: {:todo_item => { :id => todo_item.id, :done => true}}, remote: true, method: :put, id: 'done_todo_item_link'  %>
      </div>

    </div>

    <div id='form_container' />

  </div>

</div>
