
<h1><%= @todo_item.task_title %></h1>

<div class="large_text">Due on: <%= @todo_item.due_date %></div>
<div class="large_text">Status: 
	<% if @todo_item.done %>
		Done
	<% else %>	
		Not done
	<% end %>	
</div>

<div class="item_text"><%= @todo_item.description %></div>

<p>
<%= link_to 'Edit Todo Item', edit_todo_list_todo_item_path([@todo_list, @todo_item]) %> |
<%= link_to 'Delete Todo Item', [@todo_list, @todo_item], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', @todo_list %>
</p>

